<div class="row justify-content-center">

    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 jhiTranslate="register.title">Registration</h1>

            <div class="alert alert-danger" *ngIf="errorUser" jhiTranslate="uwindApp.moniteur.update.userfail">
                <strong>User creation failed ! </strong> The login or email is probably already taken, please try another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorProfil" jhiTranslate="uwindApp.moniteur.update.profilfail">
                <strong>Profil creation failed ! </strong>
            </div>
        </div>
    </div>

    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-etudiant-heading" jhiTranslate="uwindApp.etudiant.home.createOrEditLabel">Create or edit a Etudiant</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group" [hidden]="true">
                    <label for="profilId">ProfilID</label>
                    <input type="text" class="form-control" id="profilId" name="profilId" formControlName="profilId" readonly />
                </div>

                <div class="form-group" [hidden]="true">
                    <label for="userId">userID</label>
                    <input type="text" class="form-control" id="userId" name="userId" formControlName="userId" readonly />
                </div>

                <!-- Added for User creation -->

                <div class="form-group">
                    <label class="form-control-label" for="field_login" jhiTranslate="global.form.username.label">Username</label>
                    <input type="text" class="form-control" id="field_login" name="login" placeholder="{{ 'global.form.username.label' | translate }}"
                           formControlName="login" #login>

                    <div *ngIf="editForm.get('login')!.invalid && (editForm.get('login')!.dirty || editForm.get('login')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('login')?.errors?.required"
                               jhiTranslate="register.messages.validate.login.required">
                            Your username is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="editForm.get('login')?.errors?.minlength"
                               jhiTranslate="register.messages.validate.login.minlength">
                            Your username is required to be at least 1 character.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="editForm.get('login')?.errors?.maxlength"
                               jhiTranslate="register.messages.validate.login.maxlength">
                            Your username cannot be longer than 50 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="editForm.get('login')?.errors?.pattern"
                               jhiTranslate="register.messages.validate.login.pattern">
                            Your username can only contain letters and digits.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_email" jhiTranslate="global.form.email.label">Email</label>
                    <input type="email" class="form-control" id="field_email" name="email" placeholder="{{ 'global.form.email.label' | translate }}"
                             formControlName="email">

                    <div *ngIf="editForm.get('email')!.invalid && (editForm.get('email')!.dirty || editForm.get('email')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.required"
                               jhiTranslate="global.messages.validate.email.required">
                            Your email is required.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.invalid"
                               jhiTranslate="global.messages.validate.email.invalid">
                            Your email is invalid.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.minlength"
                               jhiTranslate="global.messages.validate.email.minlength">
                            Your email is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email')?.errors?.maxlength"
                               jhiTranslate="global.messages.validate.email.maxlength">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <!-- Added for profile creation -->

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.profil.prenom" for="field_prenom">Prenom</label>
                    <input type="text" class="form-control" name="prenom" id="field_prenom"
                           formControlName="prenom"/>
                    <div *ngIf="editForm.get('prenom')!.invalid && (editForm.get('prenom')!.dirty || editForm.get('prenom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prenom')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prenom')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prenom')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.profil.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom')?.errors?.minlength" jhiTranslate="entity.validation.minlength" [translateValues]="{ min: 2 }">
                        This field is required to be at least 2 characters.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 20 }">
                        This field cannot be longer than 20 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.profil.numTel" for="field_numTel">Num Tel</label>
                    <input type="text" class="form-control" name="numTel" id="field_numTel"
                           formControlName="numTel"/>
                </div>

                <!-- -->

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.etudiant.niveauScolaire" for="field_niveauScolaire">Niveau Scolaire</label>
                    <select class="form-control" name="niveauScolaire" formControlName="niveauScolaire" id="field_niveauScolaire">
                        <option value="Bac_plus_1">{{ 'uwindApp.NiveauEtudes.Bac_plus_1' | translate }}</option>
                        <option value="Bac_plus_2">{{ 'uwindApp.NiveauEtudes.Bac_plus_2' | translate }}</option>
                        <option value="Bac_plus_3">{{ 'uwindApp.NiveauEtudes.Bac_plus_3' | translate }}</option>
                        <option value="Bac_plus_4">{{ 'uwindApp.NiveauEtudes.Bac_plus_4' | translate }}</option>
                        <option value="Bac_plus_5">{{ 'uwindApp.NiveauEtudes.Bac_plus_5' | translate }}</option>
                        <option value="Bac_plus_6">{{ 'uwindApp.NiveauEtudes.Bac_plus_6' | translate }}</option>
                        <option value="Bac_plus_7">{{ 'uwindApp.NiveauEtudes.Bac_plus_7' | translate }}</option>
                        <option value="Bac_plus_8">{{ 'uwindApp.NiveauEtudes.Bac_plus_8' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('niveauScolaire')!.invalid && (editForm.get('niveauScolaire')!.dirty || editForm.get('niveauScolaire')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('niveauScolaire')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.etudiant.departement" for="field_departement">Departement</label>
                    <select class="form-control" name="departement" formControlName="departement" id="field_departement">
                        <option value="STAPS_Entrainement_sportif">{{ 'uwindApp.Filiere.STAPS_Entrainement_sportif' | translate }}</option>
                        <option value="STAPS_Management_du_sport">{{ 'uwindApp.Filiere.STAPS_Management_du_sport' | translate }}</option>
                        <option value="STAPS_Education_et_motricite">{{ 'uwindApp.Filiere.STAPS_Education_et_motricite' | translate }}</option>
                        <option value="STAPS_APAS">{{ 'uwindApp.Filiere.STAPS_APAS' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('departement')!.invalid && (editForm.get('departement')!.dirty || editForm.get('departement')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('departement')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.etudiant.niveauPlanche" for="field_niveauPlanche">Niveau Planche</label>
                    <select class="form-control" name="niveauPlanche" formControlName="niveauPlanche" id="field_niveauPlanche">
                        <option value="Deb">{{ 'uwindApp.NiveauPlancheAVoile.Deb' | translate }}</option>
                        <option value="DebPlus">{{ 'uwindApp.NiveauPlancheAVoile.DebPlus' | translate }}</option>
                        <option value="Perf">{{ 'uwindApp.NiveauPlancheAVoile.Perf' | translate }}</option>
                        <option value="Fun">{{ 'uwindApp.NiveauPlancheAVoile.Fun' | translate }}</option>
                        <option value="Monitor">{{ 'uwindApp.NiveauPlancheAVoile.Monitor' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('niveauPlanche')!.invalid && (editForm.get('niveauPlanche')!.dirty || editForm.get('niveauPlanche')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('niveauPlanche')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.etudiant.permisDeConduire" for="field_permisDeConduire">Permis De Conduire</label>
                    <input type="checkbox" class="form-control" name="permisDeConduire" id="field_permisDeConduire"
                           formControlName="permisDeConduire"/>
                    <div *ngIf="editForm.get('permisDeConduire')!.invalid && (editForm.get('permisDeConduire')!.dirty || editForm.get('permisDeConduire')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('permisDeConduire')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.etudiant.lieuDepart" for="field_lieuDepart">Lieu Depart</label>
                    <select class="form-control" name="lieuDepart" formControlName="lieuDepart" id="field_lieuDepart">
                        <option value="SMH">Campus de Saint-Martin d'Hères</option>
                        <option value="Minatec">Campus de Minatec</option>
                    </select>
                    <div *ngIf="editForm.get('lieuDepart')!.invalid && (editForm.get('lieuDepart')!.dirty || editForm.get('lieuDepart')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lieuDepart')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.etudiant.optionSemestre" for="field_optionSemestre">Option Semestre</label>
                    <input type="checkbox" class="form-control" name="optionSemestre" id="field_optionSemestre"
                           formControlName="optionSemestre"/>
                    <div *ngIf="editForm.get('optionSemestre')!.invalid && (editForm.get('optionSemestre')!.dirty || editForm.get('optionSemestre')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('optionSemestre')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <!--
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.etudiant.compteValide" for="field_compteValide">Compte Valide</label>
                    <input type="checkbox" class="form-control" name="compteValide" id="field_compteValide"
                           formControlName="compteValide"/>
                    <div *ngIf="editForm.get('compteValide')!.invalid && (editForm.get('compteValide')!.dirty || editForm.get('compteValide')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('compteValide')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>-->

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.etudiant.flotteur" for="field_flotteur">Flotteur</label>
                    <select class="form-control" id="field_flotteur" name="flotteur" formControlName="flotteur">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="flotteurOption.id === editForm.get('flotteur')!.value?.id ? editForm.get('flotteur')!.value : flotteurOption" *ngFor="let flotteurOption of flotteurs; trackBy: trackById">{{ flotteurOption.nom }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.etudiant.voile" for="field_voile">Voile</label>
                    <select class="form-control" id="field_voile" name="voile" formControlName="voile">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="voileOption.id === editForm.get('voile')!.value?.id ? editForm.get('voile')!.value : voileOption" *ngFor="let voileOption of voiles; trackBy: trackById">{{ voileOption.nomComplet }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.etudiant.combinaison" for="field_combinaison">Combinaison</label>
                    <select class="form-control" id="field_combinaison" name="combinaison" formControlName="combinaison">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="combinaisonOption.id === editForm.get('combinaison')!.value?.id ? editForm.get('combinaison')!.value : combinaisonOption" *ngFor="let combinaisonOption of combinaisons; trackBy: trackById">{{ combinaisonOption.nom }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="uwindApp.etudiant.gestionnaire" for="field_gestionnaire">Gestionnaire</label>
                    <select class="form-control" id="field_gestionnaire" name="gestionnaire" formControlName="gestionnaire">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gestionnaireOption.id === editForm.get('gestionnaire')!.value?.id ? editForm.get('gestionnaire')!.value : gestionnaireOption" *ngFor="let gestionnaireOption of gestionnaires; trackBy: trackById">{{ gestionnaireOption.profil?.prenom }} {{ gestionnaireOption.profil?.prenom }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
