<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 jhiTranslate="register.title">Prix de l'inscription</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" >
                <label class="montantInsc" for="montantInsc" >Vous devez payer 15€</label>
                <button type="submit" >Payer</button>
            </form>

        </div>
    </div>
</div>
