@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==========================================================================
Footer
========================================================================== */

table {
  border-collapse: collapse;
  table-layout: fixed;
}

th {
  padding: 25px;
  text-align: center;
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo_uga {
  height: auto;
  width: 25%;
}

.logo_polytech {
  height: auto;
  width: 25%;
}

.logo_info {
  height: auto;
  width: 25%;
}

.logo_jhipster {
  height: auto;
  width: 25%;
}
