<div class="footer">
  <table style ="width:100%">
   <tr>
    <th>
        <img src="../../../content/images/logo_uga.png" width="273" height="45" alt="Sailboard" class="logo_uga">
    </th>
    
    <th>
        <img src="../../../content/images/logo_polytech.png" width="289" height="45" alt="Sailboard" class="logo_polytech">
    </th>
    
    <th>
        <img src="../../../content/images/logo_info.jpg" width="295" height="105" alt="Sailboard" class="logo_info">
    </th>
    
    <th>
        <img src="../../../content/images/logo-jhipster.png" width="105" height="45" alt="Sailboard" class="logo_jhipster">
    </th>
   </tr>
  </table>
</div>
